* {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
  font-weight: 300;
}

body {
  display: flex;
  justify-content: center;
}

.contain {
  width: 60%;
  margin-top: 10%;
  padding: 5% 3%;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.top {
  padding-left: 10%;
}

.name {
  font-size: 22px;
  margin-top: 3%;
}

.platforms {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5%;
}

a {
  text-decoration: none !important;
  font-size: 28px;
}

a:hover {
  color: black !important;
}

@media (max-width: 850px) {
    .contain{
        margin-top: 20%;
        margin-bottom: 10%;
        width: 70%;
    }
}
